@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tops-player{
    margin-bottom: 30px;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
    
}
.padding{
    margin-left: 10px;
    font-size: 18px;
}
.section-tittle a{
    color: blue;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}
.blog{
    display: flex;
}
.blog img{
    height: 117px;
    width: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-tittle{
    font-size: 20px;
}
.blog-author{
    color: 9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.star{
    font-size: 10px;
    margin-right: 15px;
}
.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: lightgray;
}
.course-info{
    display: flex;
    align-items: center;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course-duration{
    background-color: lightpink;
    border-radius: 4px;
    padding: 6px;
    margin-left: 15px;
}

@media  only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players,.blogs,.courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }
    
}
@media  only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
     
    } 
}